@base: rgba(232, 67, 53, 1);

@import "_mixins/grid";
@import "_mixins/indent-ul";
@import "_components/contextmenu";
@import "_components/scrollbar";
@import "_components/button";
@import "_modules/search";
@import "_modules/modal";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  > .head {
    background: @base;
    height: 40px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25);
    @import "_components/header-actions";
    .directory-column {
      width: 250px;
    }
    .items-column {
      width: 300px;
    }
    .editor-column {
      .relative;
    }
    .title-column {
      font-family: 'Permanent Marker', cursive;
      display: inline-block;
      height: 30px;
      margin: 5px;
      padding: 0 15px 0 0;
      font-size: 25px;
      line-height: 25px;
      text-align: right;
      color: #fff;
      width: 80px;
    }
  }
  > .body {
    .relative;
    @import "_modules/directory-tree";
    @import "_modules/items";
    @import "_modules/editor";
  }
}